@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-background: 0 0% 85%;
    --base-foreground: 0 0% 9%;

    --muted-background: 0 0% 85%;
    --muted-foreground: 0 0% 44%;

    --primary-accent: 226 63% 96%;
    --primary: 226 56% 35%;

    --border: 0 0% 85%;
    --ring: var(--primary);
  }

  .dark {
    --base-background: 0 0% 9%;
    --base-foreground: 0 0% 93%;

    --muted-background: 0 0% 14%;
    --muted-foreground: 0 0% 49%;

    --primary-accent: 230 36% 13%;
    --primary: 226 53% 38%;

    --border: 0 0% 14%;
    --ring: var(--primary);
  }
}
