@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* slate-50 */
    --foreground: 229 84% 5%; /* slate-950 */

    --muted: 210 40% 96%; /* slate-100 */
    --muted-foreground: 215 16% 47%; /* slate-500 */

    --primary: 226 56% 35%; /* primary-7 */
    --primary-foreground: 210 40% 98%; /* slate-50 */

    --destructive: 8 71% 50%; /* red-? */
    --destructive-foreground: 210 40% 98%; /* slate-50 */

    --border: 214 32% 91%; /* slate-200 */
    --ring: var(--primary);
  }

  .dark {
    --background: 229 84% 5%; /* slate-950 */
    --foreground: 210 40% 98%; /* slate-50 */

    --muted: 219 33% 17%; /* slate-800 */
    --muted-foreground: 215 16% 47%; /* slate-500 */

    --primary: 226 56% 35%; /* primary-7 */
    --primary-foreground: 210 40% 98%; /* slate-50 */

    --destructive: 8 71% 50%; /* red-? */
    --destructive-foreground: 229 84% 5%; /* slate-950 */

    --border: 217 33% 17%; /* slate-800 */
    --ring: var(--primary);
  }
}
