@tailwind base;
@tailwind components;
@tailwind utilities;

.katex-display > .katex > .katex-html > .tag {
  @apply !hidden;
}

.uploadthing div {
  @apply items-start;
}

.uploadthing div label {
  @apply inline-flex items-center justify-center rounded-2xl text-sm font-medium transition-colors font-sans relative focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background disabled:pointer-events-none bg-background text-foreground border border-border hover:bg-muted hover:text-muted-foreground h-10 disabled:opacity-50 w-full;
}

.uploadthing p {
  @apply text-sm text-muted-foreground;
}

@layer components {
  .layout-home {
    grid-template-areas:
      "heading"
      "sidebar"
      "maths"
      "chemistry"
      "physics"
      "links"
      "flashcards";
  }

  @media screen(md) {
    .layout-home {
      grid-template-areas:
        "heading heading"
        "maths sidebar"
        "chemistry sidebar"
        "physics sidebar"
        "stretch sidebar"
        "links links"
        "flashcards flashcards";
    }
  }

  @media screen(lg) {
    .layout-home {
      grid-template-areas:
        "heading sidebar"
        "maths sidebar"
        "chemistry sidebar"
        "physics sidebar"
        "stretch sidebar"
        "links links"
        "flashcards flashcards";
    }
  }

  @media screen(xl) {
    .layout-home {
      grid-template-areas:
        "heading heading heading sidebar"
        "maths chemistry physics sidebar"
        "links flashcards flashcards sidebar";
    }
  }
}

.primary-maths {
  --primary: var(--maths);
}

.primary-chemistry {
  --primary: var(--chemistry);
}

.primary-physics {
  --primary: var(--physics);
}

@media print {
  .primary-maths {
    --primary: 226 56% 35%;
  }

  .primary-chemistry {
    --primary: 226 56% 35%;
  }

  .primary-physics {
    --primary: 226 56% 35%;
  }
}

.page-break-before-always:not(:first-of-type):not(:nth-of-type(2)) {
  page-break-before: always;
}
